.MobileNewLaunches {
  text-align: center;
  margin-top: 10px;
  background-color: white;
  width: 98%;
  margin-left: 12px;

  h4 {
    padding: 25px 25px;
  }
}

.mobile-content {
  display: flex;
  flex-flow: wrap;

  .mobile-data {
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    margin-left: 50px;
    margin-top: 25px;

    img {
      width: 90px;
      height: 185px;
      margin-top: 15px;
      margin-left: 0px;
      &:hover {
        transform: scale(1.05)
      }
    }

    .data-title {
      font-size: 15px;
      margin-top: 20px;
    }

    .price {
      color: #8A8A8A;
      font-size: 14px;
    }

    .disc {
      color: green;
      font-size: 16px;
    }
  }
}